
@font-face {
    font-family: 'Circular-SpotifyTxT-Light';
    src: url('./assets/fonts/CircularSpotifyTxT-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular-SpotifyTxT-Book';
    src: url('./assets/fonts/CircularSpotifyTxT-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular-SpotifyTxT-Med';
    src: url('./assets/fonts/CircularSpotifyTxT-Med.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular-SpotifyTxT-Bold';
    src: url('./assets/fonts/CircularSpotifyTxT-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular-SpotifyTxT-Black';
    src: url('./assets/fonts/CircularSpotifyTxT-Black.ttf') format('truetype');
}



// Variáveis para usar nos demais documentos SCSS

$font-light: 'Circular-SpotifyTxT-Light';
$font-book: 'Circular-SpotifyTxT-Book';
$font-med: 'Circular-SpotifyTxT-Med';
$font-bold: 'Circular-SpotifyTxT-Bold';
$font-black: 'Circular-SpotifyTxT-Black';